@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

:root {
  --yellow: #f7d04e;
  --gold: #af9247;
}

html,
body {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.h-calc {
  height: calc(100vh - 150px);
}

.h-half {
  height: 50vh;
}

.h-500 {
  height: 500px;
}

.max-w-xxs {
  max-width: 220px;
}

.max-w-1200 {
  max-width: 1200px;
}

nav a {
  display: inline-block;
  position: relative;
  text-decoration: none;
}
nav a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(252, 211, 77);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

nav a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}


.text-gold {
  color: var(--gold);
}

.bg-gold {
  background: var(--gold);
}

.border-gold {
  border-color: var(--gold);
}

.text-yellow {
  color: var(--yellow);
}

.text-yellow {
  color: var(--yellow);
}

.bg-yellow {
  background: var(--yellow);
}

.border-yellow {
  border-color: var(--yellow);
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  z-index: 1;
  opacity: 0.7;
}

.serif {
  font-family: "Playfair Display", serif;
}

.line-yellow::after {
  content: "";
  display: block;
  width: 100%;
  height: 20px;
  background-image: url("/underline-yellow.svg");
  background-repeat: no-repeat;
  background-position: top center;
  margin-bottom: -15px;
}

.content-a {
  background: linear-gradient(
    249.95deg,
    #eddaa0 0%,
    rgba(255, 253, 247, 0) 100%
  );
}

.content-b {
  background: linear-gradient(250.33deg, #ffffff 0%, #c2d2ea 100%);
}

.card-box {
  background: linear-gradient(269.82deg, #f4c66b 0.17%, #f0b65d 91.72%);
}

.full-width {
	left: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	max-width: 100vw;
	position: relative;
	right: 50%;
	width: 100vw;
}
