@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

:root {
  --yellow: #f7d04e;
<<<<<<< HEAD
  --gold: #AF9247;
=======
  --gold: #af9247;
>>>>>>> sam-bloom/dev
}

html,
body {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.h-calc {
<<<<<<< HEAD
  height: calc(100vh - 220px);
=======
  height: calc(100vh - 150px);
}

.h-half {
  height: 50vh;
>>>>>>> sam-bloom/dev
}

.max-w-xxs {
  max-width: 220px;
}

.max-w-1200 {
  max-width: 1200px;
}

a {
  display: inline-block;
  position: relative;
}
a:hover::after {
<<<<<<< HEAD
  content: '';
=======
  content: "";
>>>>>>> sam-bloom/dev
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 2px solid;
  margin-top: 5px;
}

<<<<<<< HEAD

=======
>>>>>>> sam-bloom/dev
.text-gold {
  color: var(--gold);
}

.bg-gold {
  background: var(--gold);
}

.border-gold {
  border-color: var(--gold);
}

<<<<<<< HEAD

=======
>>>>>>> sam-bloom/dev
.text-yellow {
  color: var(--yellow);
}

.text-yellow {
  color: var(--yellow);
}

.bg-yellow {
  background: var(--yellow);
}

.border-yellow {
  border-color: var(--yellow);
}

<<<<<<< HEAD
.block.hero::after {
=======
.hero::after {
>>>>>>> sam-bloom/dev
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  z-index: 1;
  opacity: 0.7;
}

.serif {
  font-family: "Playfair Display", serif;
}

.line-yellow::after {
  content: "";
  display: block;
  width: 100%;
  height: 20px;
  background-image: url("/underline-yellow.svg");
  background-repeat: no-repeat;
  background-position: top center;
  margin-bottom: -15px;
}

<<<<<<< HEAD
.block.content_one {
  background: linear-gradient(
    249.95deg,
    #eddaa0 0%,
    rgba(255, 253, 247, 0) 100.34%
  );
}

.block.content_two {
  background: linear-gradient(250.33deg, #ffffff 0%, #c2d2ea 100%);
}
=======
.content-a {
  background: linear-gradient(
    249.95deg,
    #eddaa0 0%,
    rgba(255, 253, 247, 0) 100%
  );
}

.content-b {
  background: linear-gradient(250.33deg, #ffffff 0%, #c2d2ea 100%);
}

.card-box {
  background: linear-gradient(269.82deg, #f4c66b 0.17%, #f0b65d 91.72%);
}

.full-width {
	left: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	max-width: 100vw;
	position: relative;
	right: 50%;
	width: 100vw;
}
>>>>>>> sam-bloom/dev
