@mixin img-fit() {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@mixin aspect-ratio($ratio) {
  position: relative;
  overflow: hidden;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($ratio) * 100%;
  }
  img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    @include img-fit();
  }
}

body {
  .main-wrapper {
    opacity: 1;
    transition: 300ms all ease-in;
  }
  &.transition {
    .main-wrapper {
      opacity: 0;
    }
  }
}

#__next {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.component-wrapper {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 3em;
  font-weight: 600;
  line-height: 1;
}

.btn {
  display: inline-block;
  text-decoration: none;
  padding: 10px 40px;
  background: rgba(252, 211, 77);
  transition: 300ms all ease-in-out;
  &:hover {
    background: #e0ba3c;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    transition: 400ms all ease-in-out;
  }
  &.header-fixed {
    &.white {
      &:before {
        background: #000;
      }
    }
  }
  &.black {
    background: #fff;
    a {
      color: #000;
      @media screen and (max-width: 680px) {
        color: #fff;
      }
    }
  }
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  a {
    color: #fff;
    @media screen and (max-width: 680px) {
      font-size: 1.25em;
      color: #fff;
    }
  }
  .hamburger {
    display: none;
    @media screen and (max-width: 680px) {
      position: relative;
      display: flex;
      padding: 10px 5px;
      z-index: 10;
    }
    &.is-active {
      .hamburger-inner,
      .hamburger-inner::before,
      .hamburger-inner::after {
        background-color: rgba(252, 211, 77);
      }
    }
    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
      background-color: rgba(252, 211, 77);
    }
  }
  nav {
    @media screen and (max-width: 680px) {
      position: fixed;
      top: 0;
      right: 0;
      width: 100%;
      max-width: 320px;
      height: 100vh;
      padding: 20px;
      padding-top: 90px;
      background: #000;
      transform: translateX(100%);
      transition: 300ms all ease-in-out;
    }
    &.is-active {
      transform: translateX(0);
    }
    ul {
      display: flex;
      @media screen and (max-width: 680px) {
        flex-direction: column;
      }
      li {
        margin-left: 40px;
        @media screen and (max-width: 680px) {
          margin-left: 0;
          margin-bottom: 40px;
          a {
            color: white;
          }
        }
      }
    }
  }
}

.block.hero-n {
  margin-bottom: 0;
  &.style-1 {
    @media screen and (max-width: 860px) {
      height: 100vh;
    }
  }

  &.style-2 {
    &.theme-yellow {
      background: linear-gradient(
        249.95deg,
        #eddaa0 0%,
        rgba(255, 253, 247, 0) 100%
      );
    }
    &.theme-purple {
      background: linear-gradient(250.33deg, #ffffff 0%, #c2d2ea 100%);
    }
    &.content-right {
      .row {
        flex-direction: row-reverse;
        @media screen and (max-width: 860px) {
          flex-direction: column;
          margin-bottom: 60px;
        }
      }
    }
    .row {
      display: flex;
      align-items: center;
      padding: 40px 0;
      @media screen and (max-width: 860px) {
        flex-direction: column;
        margin-bottom: 60px;
      }
    }
    .col {
      width: 50%;
      @media screen and (max-width: 860px) {
        width: 100%;
        max-width: 500px;
      }
    }
    .logo {
      margin-bottom: 20px;
      width: 130px;
    }
    .title,
    p {
      margin-bottom: 15px;
    }
  }
}

.block.clients {
  margin-bottom: 0;
  .wrapper {
    @media screen and (max-width: 860px) {
      padding: 40px 20px;
    }
  }
  .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 40px 0;
    @media screen and (max-width: 640px) {
      flex-direction: column;
    }
  }
  .col {
    &:nth-child(2) {
      display: flex;
      @media screen and (max-width: 640px) {
        flex-direction: column;
        align-items: center;
      }
    }
  }
  .title {
    margin-top: 0;
    @media screen and (max-width: 840px) {
      margin-bottom: 20px;
    }
    @media screen and (max-width: 640px) {
      text-align: center;
    }
  }
  img {
    width: 100%;
    max-width: 120px;
    margin-right: 20px;
    @media screen and (max-width: 640px) {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
}

.block.testimonials {
  padding: 100px 0;
  .component-wrapper {
    max-width: 800px;
  }
  .row {
    text-align: center;
  }
  .item {
    padding: 0 80px;
    margin: auto;
    @media screen and (max-width: 560px) {
      padding: 0 10px;
    }
  }
  .title,
  .image,
  p {
    margin-bottom: 40px;
  }
  .title {
    font-size: 2.25em;
    margin-bottom: 40px;
    text-align: center;
  }
  .name {
    font-size: 1.25em;
    margin-bottom: 10px;
  }
  .position {
    font-size: 1em;
    font-weight: 200;
  }
  .image {
    position: relative;
    width: 60px;
    height: 60px;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 50%;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

footer {
  .row {
    .col {
      margin-right: 20px;
      @media screen and (max-width: 1024px) {
        margin-bottom: 20px;
      }
    }
  }
  .logo {
    display: block;
    width: 140px;
    margin-bottom: 10px;
  }
  h4.my-2 {
    margin-top: 0;
  }
  .subtitle {
    margin-bottom: 20px;
  }
  .social {
    display: flex;
    a {
      display: block;
      width: 25px;
      margin-right: 20px;
    }
  }
}

.block.content-c {
  .position {
    font-size: 1em;
    font-weight: 200;
  }
}

.block.hero-c {
  margin-bottom: 50px;
}

.block.content-d {
  &.content-right {
    .row {
      flex-direction: row-reverse;
      @media screen and (max-width: 768px) {
        flex-direction: column;
      }
    }
  }
  &.content-left {
    .row {
      flex-direction: row;
      @media screen and (max-width: 768px) {
        flex-direction: column;
      }
    }
  }
  .row {
    display: flex;
  }
  .col {
    width: 50%;
    padding: 40px;
    @media screen and (max-width: 768px) {
      width: 100%;
      padding: 20px;
    }
  }
  .image {
    height: 500px;
    img {
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

.block {
  margin-bottom: 100px;
}

.block.intro {
  margin-bottom: 40px;
  text-align: center;
  .title {
    font-size: 2.5em;
  }
}

.block.awards {
  .col {
    text-align: center;
  }

  .title {
    font-size: 2em;
    margin-bottom: 40px;
  }

  .carousel {
    .col {
      width: 33%;
      @media screen and (max-width: 960px) {
        width: 100%;
      }
    }
    img {
      margin: auto;
    }
    .title {
      font-size: 1.25em;
      margin-bottom: 20px;
    }
    .subtitle {
      font-size: 1em;
      font-style: italic;
    }
  }
}

.block.basic-content {
  .row {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 960px) {
      flex-direction: column;
    }
  }

  &.content-right {
    .row {
      flex-direction: row-reverse;
      @media screen and (max-width: 1000px) {
        flex-direction: column;
      }
    }
  }

  &.content-left {
    .row {
      flex-direction: row;
      @media screen and (max-width: 1000px) {
        flex-direction: column;
      }
    }
  }

  .title {
    font-size: 2.5em;
    margin-bottom: 20px;
  }

  .headline {
    @media screen and (max-width: 960px) {
      width: 100%;
      max-width: 700px;
      margin: auto;
    }
  }

  .content {
    width: 100%;
    max-width: 700px;
    margin: auto;
  }

  p {
    margin-bottom: 20px;
  }

  &.style-1 {
    .row {
      align-items: center;
      gap: 40px;
    }
    .col {
      width: 100%;
      max-width: 700px;
    }
    .list {
      .title {
        font-size: 1.5em;
      }
      li {
        color: #a9aaae;
      }
    }
  }
  &.style-3 {
    .row {
      gap: 60px;
    }

    .title {
      font-size: 1.25em;
    }

    .content {
      max-width: none;
    }

    .col {
      width: 50%;
      @media screen and (max-width: 1000px) {
        width: 100%;
        max-width: 700px;
      }
    }

    .image {
      @include aspect-ratio(1 / 1);
      margin: auto;
    }
  }
}

.block.hero {
  position: relative;

  .logo {
    margin-bottom: 20px;
  }

  .content {
    position: relative;
    color: #fff;
    z-index: 2;
  }

  &.style-1 {
    margin-bottom: 0;
  }

  &.style-2 {
    .row {
      display: flex;
      padding: 200px 0 150px 0;
    }

    .image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      img {
        @include img-fit();
      }
    }
  }

  &.style-3 {
    padding-top: 150px;

    .image {
      position: relative;
      display: flex;
      align-items: center;
      height: 400px;
      overflow: hidden;
      img {
        @include img-fit();
        width: 130%;
        height: 130%;
      }
    }

    .title {
      margin-bottom: 40px;
      color: #000;
    }
  }
}

.block.featured-image {
  img {
    width: 100%;
  }
}

.block.gallery {
  .row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    @media screen and (max-width: 720px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .image {
    @include aspect-ratio(9 / 16);
  }
}

.block.portfolio {
  padding-top: 160px;

  .intro {
    .title {
      margin-bottom: 40px;
    }
  }

  .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
  }

  .col {
    width: 47%;
    margin-bottom: 60px;
    @media screen and (max-width: 768px) {
      width: 100%;
    }
    &:nth-child(even) {
      position: relative;
      top: 120px;
      @media screen and (max-width: 768px) {
        top: auto;
      }
    }

    .title {
      font-size: 2em;
    }
  }

  .image {
    @include aspect-ratio(9 / 16);
    margin-bottom: 20px;
  }
}
