body {
  .main-wrapper {
    opacity: 1;
    transition: 300ms all ease-in;
  }
  &.transition {
    .main-wrapper {
      opacity: 0;
    }
  }
}

#__next {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.component-wrapper {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 3em;
  font-weight: 600;
  line-height: 1;
}

.btn {
  display: inline-block;
  text-decoration: none;
  padding: 10px 40px;
  background: rgba(252, 211, 77);
  transition: 300ms all ease-in-out;
  &:hover {
    background: #e0ba3c;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    transition: 400ms all ease-in-out;
  }
  &.header-fixed {
    &.white {
      &:before {
        background: #000;
      }
    }
  }
  &.black {
    background: #fff;
    a {
      color: #000;
    }
  }
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  a {
    color: #fff;
    @media screen and (max-width: 680px) {
      font-size: 1.25em;
      color: #fff;
    }
  }
  .hamburger {
    display: none;
    @media screen and (max-width: 680px) {
      position: relative;
      display: flex;
      padding: 10px 5px;
      z-index: 10;
    }
    &.is-active {
      .hamburger-inner,
      .hamburger-inner::before,
      .hamburger-inner::after {
        background-color: #fff;
      }
    }
    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
      background-color: #fff;
    }
  }
  nav {
    @media screen and (max-width: 680px) {
      position: fixed;
      top: 0;
      right: 0;
      width: 100%;
      max-width: 320px;
      height: 100vh;
      padding: 20px;
      padding-top: 90px;
      background: #000;
      transform: translateX(100%);
      transition: 300ms all ease-in-out;
    }
    &.is-active {
      transform: translateX(0);
    }
    ul {
      display: flex;
      gap: 40px;
      @media screen and (max-width: 680px) {
        flex-direction: column;
      }
    }
  }
}

.block.hero-n {
  &.style-1 {
    @media screen and (max-width: 860px) {
      height: 100vh;
    }
  }
  &.style-2 {
    &.theme-yellow {
      background: linear-gradient(
        249.95deg,
        #eddaa0 0%,
        rgba(255, 253, 247, 0) 100%
      );
    }
    &.theme-purple {
      background: linear-gradient(250.33deg, #ffffff 0%, #c2d2ea 100%);
    }
    &.content-right {
      .row {
        flex-direction: row-reverse;
        @media screen and (max-width: 860px) {
          flex-direction: column;
          gap: 60px;
        }
      }
    }
    .row {
      display: flex;
      align-items: center;
      padding: 40px 0;
      @media screen and (max-width: 860px) {
        flex-direction: column;
        gap: 60px;
      }
    }
    .col {
      width: 50%;
      @media screen and (max-width: 860px) {
        width: 100%;
        max-width: 500px;
      }
    }
    .logo,
    .title,
    p {
      margin-bottom: 10px;
    }
  }
}

.block.clients {
  .wrapper {
    @media screen and (max-width: 860px) {
      padding: 40px 20px;
    }
  }
  .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px 0;
    @media screen and (max-width: 640px) {
      flex-direction: column;
    }
  }
  .col {
    &:nth-child(2) {
      display: flex;
      gap: 60px;
      @media screen and (max-width: 640px) {
        flex-direction: column;
        align-items: center;
      }
    }
  }
  .title {
    margin-top: 0;
    @media screen and (max-width: 840px) {
      margin-bottom: 0;
    }
    @media screen and (max-width: 640px) {
      text-align: center;
    }
  }
  img {
    width: 100%;
    max-width: 120px;
  }
}

.block.testimonials {
  padding: 100px 0;
  .component-wrapper {
    max-width: 800px;
  }
  .row {
    text-align: center;
  }
  .item {
    padding: 0 80px;
    margin: auto;
    @media screen and (max-width: 560px) {
      padding: 0 10px;
    }
  }
  .title,
  .image,
  p {
    margin-bottom: 40px;
  }
  .title {
    font-size: 2.25em;
    margin-bottom: 40px;
    text-align: center;
  }
  .name {
    font-size: 1.25em;
    margin-bottom: 10px;
  }
  .position {
    font-size: 1em;
    font-weight: 200;
  }
  .image {
    position: relative;
    width: 60px;
    height: 60px;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 50%;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

footer {
  .logo {
    display: block;
    width: 140px;
    margin-bottom: 10px;
  }
  h4.my-2 {
    margin-top: 0;
  }
  .subtitle {
    margin-bottom: 20px;
  }
  .social {
    display: flex;
    gap: 20px;
    a {
      display: block;
      width: 25px;
    }
  }
}
